@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 5px;
    color: #1b2021;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.secundario{
    display: grid;
    grid-template: 100%/20% 30% 50%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.laterales{
    border: 1px solid black;
    border-radius: 20px ;
    display: flex;
    justify-content: center;
}
.laterales img{
    height: 150px;
    width: 150px;
}
.prime{
    margin-left: 100px;
}
.fop{
    filter: drop-shadow(0 5px 5px #ffb0dd);
    border-radius: 20px;
    width: 300px;
    transition: ease-in-out(.5s);
    transform: translateY(10px);
}
.fop:hover{
    transform: translateZ(12px);
}
.descripcion{
    margin-left: 50px;
    width: 1000px;
}
button{
    width: 100px;
    background-color: green;
    letter-spacing: 2px;
    text-transform: uppercase;
}
button:hover{
    background: lightgreen;
}
.comentarios{
    display: grid;
    grid-template: repeat(3,33.3%)/90%;
    gap: 5px;
    border: 1px solid black;
}
.comentario{
    border: 1px solid black;
    margin: 10px;
}
/*RESPONSIVE*/
@media (max-width:768px){
    .secundario{
        display: grid;
        grid-template:repeat(2,50%)/90%;
        border: 3px solid black;
        justify-content: center;
        align-items: center;
    }
    .fotos{
        display: flex;
        column-gap: 5px;
        margin: 0px;
    }
    .laterales img{
        height: 250px;
        width: 180px;
    }
    .prime{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px;
    }
    .fop{
        filter: drop-shadow(0 5px 5px #ffb0dd);
        border-radius: 20px;
        height: 400px;
        width: 300px;
        transition: ease-in-out(.5s);
        transform: translateY(10px);
    }
    .fop:hover{
        transform: translateZ(12px);
    }
    .descripcion{
        margin-left: 50px;
        width: 550px;
    }
    button{
        width: 100px;
        background-color: green;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    button:hover{
        background: lightgreen;
    }
    .comentarios{
        display: grid;
        grid-template: repeat(3,33.3%)/90%;
        gap: 5px;
        border: 1px solid black;
    }
    .comentario{
        border: 1px solid black;
        margin: 10px;
    } 

}